*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



body{
    background-color: #2e9599; 
    margin-bottom: 100px;
    line-height: 1.6;
    overflow: hidden;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 500px;
    margin-top: 50px;
    padding: 10px;
}

.calculator{
    background-color: #0080ff;
    width: 400px;
    border-radius: 15px;
    padding: 20px;
    border: 2px black solid;
}


.screen{
    padding: 10px 20px;
    border: 2px black solid;
    border-radius: 5px;
    margin-bottom: 20px;
  
    background-color: #eee;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


.firstScreen{
    min-height: 32px;
    background-color: maroon;
    font-size: 20px;
}

.secondScreen{
    min-height: 64px;
    background-color: green;
    font-size: 40px;
}


.buttons{
    display: grid;  /* This makes the display a grid*/
    grid-template-columns: repeat(4, 1fr);  /*makes a column of 4*/
    grid-gap: 10px;
}

.btn{
    padding: 20px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 20px;
    background-color: lightgray
}

.btn:hover{
    background-color: rgba(234, 186, 203, 0.6)
}

.btn:active{
    background-color: rgba(234, 186, 203, 0.3)
}


.redButton{
    background-color: #faa;

}

.blueButton{
    background-color: rgb(142, 204, 225);
    
}

.span-2{
    grid-column: span 2;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 115px;
}

.copyright{
    margin-bottom: 9px;
    font-family: 'Roboto', 'Sans Serif';
    font-weight: 400;
    color: black;
    font-size: 16px;
}

.duddy{
    height: 38px;
    width: 54px;
    margin-top: 30px;
    margin-left: 4px;
    margin-bottom: 5px;
 
 }
